ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: centre;
  margin: 0;
  padding: 0;
}

a {
  display: flex;
  flex-direction: centre;
  align-items: 0;
}

.icon {
  position: relative;
  height: 8em;
  width: 8em;
}

.icon svg {
  left: 0
  height: 100%;
  position: absolute;
  top: 0;
  widows: 100%;
  fill: currentColor;
}
